@import "../../scss/colors.scss";
.PostSection {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 2rem;
	padding: 20px 0;
	&-LoadBtn {
		background-color: $color-primary;
		border-color: $color-neutral;
		border-radius: 5px;
		color: $color-white;
		height: 4rem;
		font-weight: 900;
		align-self: center;
		min-width: 200px;
	}
}
