@import "../../scss/colors.scss";
.PostSection {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 2rem;
	padding: 20px 0;
	&-Header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		button {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background-color: $color-primary;
			border-color: $color-neutral;
			border-radius: 25px;
			color: $color-white;
			height: 4rem;
			font-weight: 900;
			width: 140px;
		}
	}
}
