@import "../../scss/colors.scss";

.Comment {
	padding: 1rem;
	background-color: $color-neutral;
	border-radius: 8px;
	&-Header {
		display: grid;
		grid-template-rows: 2rem 2rem;
		grid-template-columns: 4rem auto;
		img {
			height: 40px;
			width: 40px;
			grid-column: 1 / 2;
			justify-self: center;
			border-radius: 50%;
			border-width: 2px;
			border-color: $color-primary;
			border-style: solid;
		}
		&-Name {
			grid-column: 2 / 3;
			font-weight: bold;
			font-size: medium;
			align-self: end;
			padding-left: 0.5rem;
			max-height: 2rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&-Email {
			grid-row: 2 / 3;
			grid-column: 2 / 3;
			color: $color-white-dark;
			align-self: start;
			padding-left: 0.5rem;
		}
	}
	p {
		color: $color-white-dark;
	}
}
